.hero {
  padding: 30px 0 60px;
}

.container {
  width: 88%;
  margin: 0 auto;
  max-width: 1200px;
}

.container h1 {
  margin-bottom: 0.5rem;
}

.container p {
  line-height: 1.5rem;
  margin-bottom: 3rem;
}

.container button {
  border: none;
}

.container a {
  background: #242424;
  color: #fff;
  padding: 0.75rem 1.25rem;
  border-radius: 3px;
}

.howTo {
  padding: 60px 0 90px;
  background: #242424;
  color: #fff;
}
